<%- include partials/head.ejs %>
    <% for(var i=0; i< dilemmas.length; i++) { %>

        <div class="row dilemmalist-entry">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="col-md-3">
                        <h4>Id:</h4>
                    </div>
                    <div class="col-md-8 col-md-offset-1">
                        <h4>Slug:</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="id-container col-md-3">
                        <%= dilemmas[i].id %>
                    </div>
                    <div class="slug-container col-md-8 col-md-offset-1">
                        <%= dilemmas[i].id + '/' + dilemmas[i].slug %>
                    </div>
                </div>

            </div>


            <div class="col-md-5 col-md-offset-1 button" id="bluebutton">
                <div id="text-container">
                    <table cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="middle">
                                    <div class="dilemma-stats">
                                        <div class="total-votes">
                                            <div class="question-text">
                                                <%= dilemmas[i].blue_dilemma %>
                                            </div>
                                            <span class="count">
                                        <%= dilemmas[i].blue_dilemma_votes %>
                                    </span>
                                            <span class="word">
                                        votes
                                    </span>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 button" id="redbutton">
                <div id="text-container">
                    <table cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="middle">
                                    <div class="dilemma-stats">
                                        <div class="total-votes">
                                            <div class="question-text">
                                                <%= dilemmas[i].red_dilemma %>
                                            </div>
                                            <span class="count">
                                        <%= dilemmas[i].red_dilemma_votes %>
                                    </span>
                                            <span class="word">
                                        votes
                                    </span>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <button style='margin-top:20px;' class="btn btn-danger remove-dilemma col-md-2 col-md-offset-5" name="<%= dilemmas[i]._id %>">Delete</button>
        </div>







        <% } %>
            <%- include partials/footer.ejs %>
