<!DOCTYPE html>

<html lang="en">

<head>
    <%- include partials/head.ejs %>
</head>

<body>
    <div class="container-fluid">
        <%- include partials/functions.ejs %>
            <%- include partials/dilemmasection.ejs %>
                <%- include partials/commentsection.ejs %>
                    <%- include partials/dilemmaPeek.ejs %>
                        <%- include partials/footer.ejs %>
    </div>
</body>


</html>
